<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div id="menu">
    <div id="logo">
        logo
    </div>
    <div id="menuContent">
        <a class="menu" href="http://localhost:8080/index.html">START</a>
        <a class="menu" href="http://localhost:8080/event/show/show_all.html">OFERTA</a>
        <a class="menu" href="http://localhost:8080/feedback/show/show_all.html">OPINIE</a>
        <a class="menu" href="http://localhost:8080/checkLogin">KONTO</a>
    </div>
</div>
<div class = 'content'><br>
    <a class = "content-menu" href = 'http://localhost:8080/login'>ZALOGUJ</a>
    <br>
    <a class = "content-menu" href = 'http://localhost:8080/all/registry/user/registry.html'>ZAREJESTRUJ SIĘ</a>
    <br>
    <a class = "content-menu" href = 'http://localhost:8080/all/registry/registry.html'>ZAREJESTRUJ SIĘ (MOD)</a>

</div>
<div id="footer">
    <p>Autor: Paweł Janecki</p>
</div>

</body>
</html>