<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='index.js'></script>
</head>
<body>
<!--<di-->
<div id="menu">
    <div id="logo">
        <img src="images/tlo.jpg"/>
    </div>
    <div id="menuContent">
        <a class="menu" href="http://localhost:8080/index.html">START</a>
        <a class="menu" href="http://localhost:8080/event/show/show_all.html">OFERTA</a>
        <a class="menu" href="http://localhost:8080/feedback/show/show_all.html">OPINIE</a>
        <a class="menu" href="http://localhost:8080/checkLogin">KONTO</a>
    </div>
</div>
<div id="content">
    <form action="http://google.pl">
        <input id="search" type="text" name="search" placeholder="wyszukaj..."/>
        <input id="searchButton" type="submit" value="szukaj">
    </form>
</div>
<div id="footer">
    <p>Autor: Paweł Janecki</p>
</div>

</body>
</html>