#menu {
    width: 100%;
    height: 80px;
    background-color: #333333;
    padding-left: -5px;
}

#logo {
    width: 280px;
    height: 80px;
    margin-left: 10px;
    float: left;
}

#menuContent {
    width: auto;
    height: 80px;
    text-align: right;
    float: both;
}

body {
    margin: 0;
    background: url("../../images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    height: 100%
}
html {
    height: 100%;
}

.content {
    margin: auto;
    width: 70%;
    min-height: 80%;
    text-align: left;
    background-color: #FFFFFF;
    padding: 20px;

}

#footer {
    width: 100%;
    height: 100px;
    background-color: #111111;
    text-align: center;
    padding-top: 20px;
}

p {
    font-family: Arial;
    color: #cccccc;
}

a.menu:link {
    display: inline-block;
    color: #FFF;
    font-family: Arial;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-right: 20px;
}

a.menu:hover, a.menu:visited {
    display: inline-block;
    color: #FFF;
    font-family: Arial;
    font-weight: bold;
    width: auto;
    padding-bottom: 2px;
    border-bottom: 3px solid red;
    right: 20px;
}


div.eventName, .trackName, .username {
    font-family: Arial;
    font-size: 18px;
}

div.description {
    font-family: Arial;
    font-size: 16px;
}

