<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="menu.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='menu.js'></script>
</head>
<body>
<div id="menu">
    <div id="logo">
        logo
    </div>
    <div id="menuContent">
        <a class="menu" href="http://localhost:8080/index.html">START</a>
        <a class="menu" href="http://localhost:8080/event/show/show_all.html">OFERTA</a>
        <a class="menu" href="http://localhost:8080/feedback/show/show_all.html">OPINIE</a>
        <a class="menu" href="http://localhost:8080/checkLogin">KONTO</a>
    </div>
</div>
<div class = 'content'><br>
    <h4>Witaj</h4>
    <div class="avatar"></div>
    <a href = 'http://localhost:8080/user/add_file/upload.html'>Dodaj avatar</a>
    <a href = 'http://localhost:8080/user/add/add_form.html'>Dodaj opinię</a>
    <a href = 'http://localhost:8080/user/show/show_details.html'>Wyświetl szczegóły konta</a>
    <a href = 'http://localhost:8080/user/edit/edit_form.html'>Edytuj dane</a><br>
    <a href = 'http://localhost:8080/logout'>Wyloguj</a>


</div>
<div id="footer">
    <p>Autor: Paweł Janecki</p>
</div>

</body>
</html>