<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='index.js'></script>
</head>
<body>
<!--<di-->
<div id="menu">
    <object name="menu" type="text/html" data="menu.html"></object>
</div>
<div id="content">
    <a href="user/add/add_form.html">ZAREJESTRUJ SIĘ</a>
    <a href="/login">ZALOGUJ SIĘ</a>
    <a href="event/show/show_all.html">EVENTY</a>
</div>
<div id="footer">
    <object name="footer" type="text/html" data="menu.html"></object>
</div>

</body>
</html>