<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='index.js'></script>
</head>
<body>
<!--<di-->
<div id="menu">
    <div id="logo">
        logo
    </div>
    <div id="menuContent">
        <!--sdgfugdsgfyudsgygdsu-->
        <a class="menu" href="http://localhost:8080/index.html">START</a>
        <a class="menu" href="http://localhost:8080/event/show/show_all.html">OFERTA</a>
        <a class="menu" href="">OPINIE</a>
        <a class="menu" href="http://localhost:8080/checkLogin">KONTO</a>
        <!--<object id="obejctMenu" name="menu" type="text/html" data="menu.html"></object>-->
    </div>
</div>
<div id="content">
    <form action="http://google.pl">
        <input id="search" type="text" name="search" placeholder="wyszukaj..."/>
        <input id="searchButton" type="submit" value="szukaj">
    </form>
</div>
<div id="footer">
    <object name="footer" type="text/html" data="menu.html" widht="400px"></object>
</div>

</body>
</html>