<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="show_event_details.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-url/2.5.2/url.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='show_event_details.js'></script>

</head>
<body>
<div id="menu">
    <div id="logo">
        logo
    </div>
    <div id="menuContent">
        <!--sdgfugdsgfyudsgygdsu-->
        <a class="menu" href="http://localhost:8080/index.html">START</a>
        <a class="menu" href="http://localhost:8080/event/show/show_all.html">OFERTA</a>
        <a class="menu" href="http://localhost:8080/feedback/show/show_all.html">OPINIE</a>
        <a class="menu" href="http://localhost:8080/checkLogin">KONTO</a>
        <!--<object id="obejctMenu" name="menu" type="text/html" data="menu.html"></object>-->
    </div>
</div>
<div class = 'content'>
    <div class = 'event'>

    </div>

</div>
<div id="footer">
    <p>Autor: Paweł Janecki</p>
</div>

</body>
</html>